* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    padding: 0 1rem;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 200px;
    padding: 1rem;
    border-radius: 8px;
    border: solid red 1px;
}

article img {
    width: 100%;
    height: auto;
}
article {
    background-color: #fffbfb;
}
